@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/arial/ArialRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/arial/ArialBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/arial/ArialItalic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/arial/ArialBoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/georgia/Georgia.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/georgia/georgia-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/georgia/georgia-italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/georgia/georgia-bold-italic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

:root {
  font-size: 10px;
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  width: 100vw;
  position: absolute;
  padding-top: 6rem;
  top: 0;
  left: 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #f1cdb3;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  margin-top: 1rem;
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44.3rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #fafafa;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
}

.list__link__active {
  border-bottom: 3px solid #f1cdb3;
}

.list__link_disabled {
  color: #cdcdcd;
}

.list__link.enabled:active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.list__link.inactive-link {
  cursor: default;
}

.list__link__active:hover {
  color: #fafafa;
}

.hero {
  width: 100vw;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 18rem;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4.2rem;
          column-gap: 4.2rem;
}

.hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100%;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8.4rem;
  max-width: 46rem;
}

.content-section__title {
  max-width: 31rem;
  color: #ffffff;
  font-family: Georgia, serif;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.content-section__subtitle {
  color: #cdcdcd;
  margin-top: 4.2rem;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
}

.content-section__button {
  border-radius: 10rem;
  border: none;
  background-color: #f1cdb3;
  margin-top: 4.2rem;
  padding: 1.5rem 4.5rem;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #292929;
}

.content-section__button:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.about {
  width: 100vw;
  padding: 8rem 0 10rem 0;
}

.about__wrapper {
  max-width: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12rem;
          column-gap: 12rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.about__image {
  width: 100%;
  position: left top;
}

.about__content {
  max-width: 43rem;
}

.about__title {
  max-width: 37rem;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4c4c;
}

.about__description p:last-child {
  margin-top: 2.5rem;
}

.pets {
  width: 100vw;
  padding: 8rem 0 10rem 0;
  background-color: #f6f6f6;
}

.pets__title {
  max-width: 40rem;
  margin: 0 auto 6rem auto;
  text-align: center;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.pets__title span {
  display: block;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__arrow-left {
  max-width: 5.2rem;
  max-height: 5.2rem;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.3rem 1.9rem;
}

.pets__arrow-left:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: none;
}

.pets__cards {
  max-width: 99rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 9rem;
          column-gap: 9rem;
}

.pets__cards .card {
  width: 27rem;
  height: 43.5rem;
  background-color: #fafafa;
  border-radius: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3rem;
}

.pets__cards .card .pet-name {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__cards .card .learn-more {
  width: 18.7rem;
  height: 5.2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  background: none;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  color: #292929;
}

.pets__cards .card .learn-more:hover {
  background-color: #f1cdb3;
}

.pets__cards .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px 3px #b9b6b6;
          box-shadow: 3px 3px 10px 3px #b9b6b6;
}

.pets__arrow-right {
  max-width: 5.2rem;
  max-height: 5.2rem;
  border: 2px solid #f1cdb3;
  background-color: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.3rem 1.9rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pets__arrow-right:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: none;
}

.pets__button {
  display: block;
  margin: 6rem auto 0 auto;
  padding: 1.5rem 4.5rem;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  letter-spacing: 0.06em;
  color: #292929;
  background: #f1cdb3;
  border-radius: 10rem;
  border: none;
}

.pets__button:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.help {
  width: 100vw;
  padding: 8rem 0 10rem 0;
  background-color: #ffffff;
}

.help__title {
  max-width: 31rem;
  margin: 0 auto 6rem auto;
  text-align: center;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

.help__title span {
  display: block;
}

.help__icons {
  max-width: 103rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 12rem;
          column-gap: 12rem;
  row-gap: 5.5rem;
}

.help__icons figure {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3rem;
}

.donation {
  width: 100vw;
  padding: 8.1rem 0 10.1rem 0;
  background-color: #f6f6f6;
}

.donation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.donation__content {
  max-width: 38rem;
}

.donation__title {
  max-width: 30rem;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  margin-bottom: 2rem;
}

.donation__subtitle {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  color: #545454;
  margin-bottom: 2rem;
}

.donation .credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34.9rem;
  height: 4.3rem;
  background-color: #f1cdb3;
  border-radius: 0.9rem;
  margin-bottom: 2rem;
}

.donation .credit-card__number {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
}

.donation .credit-card:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.donation__text {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #b2b2b2;
}

.footer {
  width: 100vw;
  padding-top: 4rem;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__questions {
  max-width: 27.9rem;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4rem;
}

.footer__questions .questions-title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #ffffff;
}

.footer__questions .questions-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4rem;
}

.footer__questions .questions-list li a {
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #f1cdb3;
}

.footer__visit {
  max-width: 30.2rem;
  margin-top: 1.6rem;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.3rem;
}

.footer__visit .visit-title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #ffffff;
}

.footer__visit .visit-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.3rem;
}

.footer__visit li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #f1cdb3;
}

.footer__visit li:nth-child(1) {
  height: 4.6rem;
}

.footer__visit li:nth-child(2) {
  height: 3.2rem;
}

.modal {
  position: fixed;
  top: 10%;
  left: 14.53125%;
  width: 95.2rem;
  height: 55.2rem;
  z-index: 200;
  background: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.modal.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal__close-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background: none;
  width: 5.2rem;
  height: 5.2rem;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.modal__close-button:active {
  background-color: #f1cdb3;
}

.modal__close-button:hover {
  font-size: 3rem;
}

.modal__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 94.5378151%;
  height: 90.5797101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fafafa;
  border-radius: 9px;
  overflow: auto;
}

.modal__image {
  width: auto;
  height: 100%;
}

.modal__info {
  padding-top: 1%;
  padding-left: 2.9rem;
}

.modal__title {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  margin-bottom: 1rem;
}

.modal__subtitle {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  margin-bottom: 4rem;
}

.modal__text {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  margin-bottom: 4rem;
  max-width: 35rem;
}

.modal__list {
  list-style-position: inside;
  font-size: 1.5rem;
  color: #f1cdb3;
}

.modal__list strong,
.modal__list em {
  color: black;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  .menu {
    position: absolute;
    top: 4.6rem;
    right: 3rem;
  }
  .hero {
    padding-top: 15rem;
  }
  .hero__image-wrapper {
    max-width: 56.9rem;
    margin-left: 18.229%;
  }
  .content-section {
    padding-bottom: 10rem;
  }
  .content-section__button-wrapper {
    margin: 0 auto;
  }
  .about__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 8rem;
  }
  .pets__slider {
    max-width: 70.8rem;
    margin: 0 auto;
  }
  .pets__cards {
    max-width: 58rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .pets__cards figure:last-child {
    display: none;
  }
  .help__icons {
    max-width: 63rem;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .help__icons .icon {
    width: 17rem;
  }
  .donation__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 6rem;
  }
  .donation__picture-wrapper {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 2.6rem;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .footer__questions {
    margin-top: 0;
    margin-bottom: 6.5rem;
  }
  .footer__visit {
    margin-top: 0;
    margin-bottom: 6.5rem;
  }
  .modal {
    width: 68.2rem;
    height: 40.2rem;
  }
  .modal__content {
    width: 63rem;
    height: 35rem;
  }
  .modal__subtitle {
    margin-bottom: 1.5rem;
  }
  .modal__text {
    margin-bottom: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    width: 93.75%;
  }
  .menu ul {
    display: none;
  }
  .burger {
    position: absolute;
    top: 5rem;
    right: 5.3rem;
    width: 3rem;
    height: 2.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger span {
    width: 100%;
    height: 2px;
    background-color: #f1cdb3;
  }
  .burger:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 3%;
  }
  .hero {
    padding-top: 15rem;
  }
  .hero .content-section {
    padding-bottom: 10.5rem;
  }
  .hero .content-section__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    color: #ffffff;
    text-align: center;
    max-width: 230px;
    margin: 0 auto;
  }
  .hero .content-section__subtitle {
    text-align: center;
  }
  .hero .content-section__button-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__image-wrapper {
    width: 100%;
    padding-left: 13%;
  }
  .about {
    padding-top: 4.2rem;
    padding-bottom: 3.8rem;
  }
  .about__image-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    color: #545454;
    max-width: 230px;
    margin: 0 auto 2.5rem auto;
    text-align: center;
  }
  .about__description {
    max-width: 90%;
    text-align: justify;
    margin: auto;
  }
  .about__description p:last-child {
    margin-top: 2.2rem;
    margin-bottom: 4.2rem;
  }
  .about__image-wrapper {
    max-width: 86.6666667%;
  }
  .pets {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
  .pets__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    color: #545454;
    margin-bottom: 4.2rem;
  }
  .pets__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pets__cards .card:not(:first-child) {
    display: none;
  }
  .pets__arrow-left {
    position: relative;
    top: -3.2rem;
    left: -6.6rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pets__arrow-right {
    position: relative;
    top: 2rem;
    right: -6.6rem;
  }
  .pets__button {
    margin-top: 1.3rem;
  }
  .help {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
  .help__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    margin-bottom: 4.2rem;
  }
  .help__icons {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .help__icons .icon {
    width: 43.3333333%;
    height: 8.7rem;
    row-gap: 2rem;
  }
  .help__icons .icon figcaption {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }
  .help__icons .icon img {
    -webkit-transform: scale(0.83);
            transform: scale(0.83);
  }
  .donation {
    padding-top: 4.2rem;
    padding-bottom: 4rem;
  }
  .donation__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    max-width: 230px;
    margin: 0 auto 2rem;
    text-align: center;
  }
  .donation__subtitle {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.01rem;
  }
  .donation .credit-card {
    width: 28.1rem;
    margin: 0 auto 2rem;
  }
  .donation .credit-card h4 {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }
  .donation__text {
    margin: 0 auto 4.2rem;
    width: 93.333333%;
    text-align: justify;
  }
  .donation__picture-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 86.6666667%;
    max-width: 50.5rem;
  }
  .donation__picture-wrapper img {
    width: 100%;
  }
  .footer {
    padding-top: 3rem;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__questions {
    width: 100%;
    margin-top: 0;
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__questions .questions-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    text-align: center;
  }
  .footer__questions .questions-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__visit {
    width: 100%;
    margin-top: 0;
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0;
  }
  .footer__visit .visit-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.16rem;
    width: 90%;
    text-align: center;
    margin: 0 auto 4rem;
  }
  .footer__visit li:first-child {
    height: 3.2rem;
    margin-bottom: 2.1rem;
  }
  .footer__image {
    width: 86.6666667%;
    max-width: 30rem;
  }
  .footer__image img {
    width: 100%;
  }
  .modal {
    width: 27.1rem;
    height: 39.3rem;
    top: 8%;
    left: 12.5%;
  }
  .modal__content {
    width: 24rem;
    height: 34.1rem;
  }
  .modal__image {
    display: none;
  }
  .modal__title {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.21rem;
  }
  .modal__subtitle {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.12rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .modal__text {
    font-size: 13px;
    margin-bottom: 2.4rem;
  }
  .modal__list {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */