@font-face {
  font-family: Arial;
  src: url(/assets/fonts/arial/ArialRegular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Arial;
  src: url(/assets/fonts/arial/ArialBold.woff) format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Arial;
  src: url(/assets/fonts/arial/ArialItalic.woff) format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Arial;
  src: url(/assets/fonts/arial/ArialBoldItalic.woff) format("woff");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url(/assets/fonts/georgia/Georgia.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Georgia;
  src: url(/assets/fonts/georgia/georgia-bold.woff) format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Georgia;
  src: url(/assets/fonts/georgia/georgia-italic.woff) format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Georgia;
  src: url(/assets/fonts/georgia/georgia-bold-italic.woff) format("woff");
  font-style: italic;
  font-weight: bold;
}

$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(/assets/images/noise_transparent@2x.png),
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

@mixin h2 {
  font: {
    family: Georgia, serif;
    size: 4.4rem;
    style: normal;
    weight: normal;
  }
  line-height: 130%;
}

@mixin h3 {
  font: {
    family: Georgia, serif;
    style: normal;
    weight: normal;
    size: 3.5rem;
  }
  line-height: 130%;
  letter-spacing: 0.21rem;
}

@mixin h4 {
  font: {
    family: Georgia, serif;
    style: normal;
    weight: normal;
    size: 2rem;
  }
  line-height: 115%;
  letter-spacing: 0.12rem;
}

@mixin h5 {
  font: {
    family: Georgia, serif;
    style: normal;
    weight: normal;
    size: 1.5rem;
  }
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial, sans-serif;
    size: 1.5rem;
  }
  line-height: 160%;
}

@mixin paragraph-s {
  font: {
    family: Arial, sans-serif;
    style: italic;
    weight: normal;
    size: 1.2rem;
  }
  line-height: 150%;
}

@mixin logo_title {
  font: {
    family: Georgia, serif;
    style: normal;
    weight: normal;
    size: 3.2rem;
  }
  line-height: 110%;
  letter-spacing: 0.2rem;
}

@mixin logo_subtitle {
  font: {
    family: Arial, sans-serif;
    size: 1.3rem;
  }
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
}

@mixin pets-arrow {
  max-width: 5.2rem;
  max-height: 5.2rem;
  border: 2px solid $color-primary;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.3rem 1.9rem;
}

@mixin on-hover {
  cursor: pointer;
  background-color: $color-primary-light;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

:root {
  font-size: 10px;
}

.hidden {
  display: none;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
}

// Header start

.header {
  width: 100vw;
  position: absolute;
  padding-top: 6rem;
  top: 0;
  left: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-primary;
    @include logo_title;
  }

  &__subtitle {
    margin-top: 1rem;
    color: $color-light-xl;
    text-align: center;
    @include logo_subtitle;
  }
}

.menu {
  display: flex;
  width: 44.3rem;
}

.list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $color-light-s;
    text-decoration: none;
    @include paragraph-l;

    &__active {
      border-bottom: 3px solid $color-primary;
    }

    &_disabled {
      color: $color-dark-s;
    }

    &:active {
      border-bottom: 3px solid $color-primary;
      color: $color-light-s;
    }

    &:hover {
      color: $color-light-s;
    }
  }
}

// Header end

// Not only section start

.hero {
  width: 100vw;
  background: $start-screen-gradient-background;
  padding-top: 18rem;

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4.2rem;
  }

  &__image-wrapper {
    display: flex;
  }

  &__image {
    width: 100%;
    max-width: 69.8rem;
    max-height: 72.8rem;
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8.4rem;
  max-width: 46rem;

  &__title {
    max-width: 31rem;
    color: $color-light-xl;
    @include h2;
  }

  &__subtitle {
    color: $color-dark-s;
    margin-top: 4.2rem;
    @include paragraph-l;
  }

  &__button {
    border-radius: 10rem;
    border: none;
    background-color: $color-primary;
    margin-top: 4.2rem;
    padding: 1.5rem 4.5rem;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.1rem;
    color: $color-dark-3xl;

    &:hover {
      @include on-hover();
    }
  }
}

// Not only section end

// About section start

.about {
  width: 100vw;
  padding: 8rem 0 10rem 0;

  &__wrapper {
    max-width: 85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12rem;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
    position: left top;
  }

  &__content {
    max-width: 43rem;
  }

  &__title {
    max-width: 37rem;
    @include h3;
    color: $color-dark-l;
  }

  &__description {
    margin-top: 2.5rem;

    p {
      &:last-child {
        margin-top: 2.5rem;
      }
      @include paragraph-l;
      color: $color-dark-xl;
    }
  }
}

// About section end

// Pets section start

.pets {
  width: 100vw;
  padding: 8rem 0 10rem 0;
  background-color: $color-light-l;

  &__title {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    @include h3;
    color: $color-dark-l;

    span {
      display: block;
    }
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
  }

  &__arrow-left {
    @include pets-arrow;
    &:hover {
      @include on-hover();
      border: none;
    }
  }

  &__cards {
    max-width: 99rem;
    display: flex;
    justify-content: center;
    column-gap: 9rem;

    .card {
      width: 27rem;
      height: 43.5rem;
      background-color: $color-light-s;
      border-radius: 0.9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;

      .pet-name {
        font-family: Georgia, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        letter-spacing: 0.06em;
        color: $color-dark-l;
      }

      .learn-more {
        width: 18.7rem;
        height: 5.2rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-primary;
        border-radius: 10rem;
        background: none;
        font-family: Georgia, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7rem;
        letter-spacing: 0.06em;
        color: $color-dark-3xl;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 10px 3px rgb(185, 182, 182);
      }
    }
  }

  &__arrow-right {
    @include pets-arrow;
    transform: rotate(180deg);

    &:hover {
      @include on-hover();
      border: none;
    }
  }

  &__button {
    display: block;
    margin: 6rem auto 0 auto;
    padding: 1.5rem 4.5rem;
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background: $color-primary;
    border-radius: 10rem;
    border: none;

    &:hover {
      @include on-hover();
    }
  }
}

// Pets section end

// Help section start

.help {
  width: 100vw;
  padding: 8rem 0 10rem 0;
  background-color: $color-light-xl;

  &__title {
    max-width: 31rem;
    margin: 0 auto 6rem auto;
    text-align: center;
    @include h3;
    color: $color-dark-l;

    span {
      display: block;
    }
  }

  &__icons {
    max-width: 103rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 12rem;
    row-gap: 5.5rem;

    figure {
      @include h4;
      color: $color-dark-l;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 3rem;
    }
  }
}

// Help section end

// Donation section start

.donation {
  width: 100vw;
  padding: 8.1rem 0 10.1rem 0;
  background-color: $color-light-l;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
  }

  &__content {
    max-width: 38rem;
  }

  &__title {
    max-width: 30rem;
    @include h3;
    color: $color-dark-l;
    margin-bottom: 2rem;
  }

  &__subtitle {
    @include h5;
    color: $color-dark-l;
    margin-bottom: 2rem;
  }

  .credit-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 34.9rem;
    height: 4.3rem;
    background-color: $color-primary;
    border-radius: 0.9rem;
    margin-bottom: 2rem;

    &__number {
      @include h4;
      color: $color-dark-l;
    }

    &:hover {
      @include on-hover();
    }
  }

  &__text {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-dark-m;
  }
}

// Donation section end

// Footer start

.footer {
  width: 100vw;
  padding-top: 4rem;
  background: url(/assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__questions {
    max-width: 27.9rem;
    margin-top: 1.6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    .questions-title {
      @include h3();
      color: $color-light-xl;
    }

    .questions-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      row-gap: 4rem;

      li a {
        height: 3.2rem;
        display: flex;
        align-items: center;
        column-gap: 2rem;
        @include h4();
        color: $color-primary;
      }
    }
  }

  &__visit {
    max-width: 30.2rem;
    margin-top: 1.6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.3rem;

    .visit-title {
      @include h3();
      color: $color-light-xl;
    }

    .visit-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      row-gap: 3.3rem;
    }

    li a {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      @include h4();
      color: $color-primary;
    }

    li:nth-child(1) {
      height: 4.6rem;
    }

    li:nth-child(2) {
      height: 3.2rem;
    }
  }
}

// Footer end
